<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.we3.stalkforces">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_on"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_on"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ReminderListActivity"/>
        <activity android:name=".activities.UserSubmissionsActivity" />
        <activity android:name=".activities.UserContestsActivity" />
        <activity android:name=".activities.UserFavouritesActivity" />
        <activity android:name=".activities.UpcomingContestsActivity" />
        <activity android:name=".activities.DateTimePickerActivity" />
        <activity android:name=".activities.UserMainActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.Notifier" />
    </application>

</manifest>